body {
    font-family: 'Barlow', sans-serif;
    background-color: #0C2840;
    font-size: 14p;
    color: white;
}

 
h1 {
    color: #A3BFBF;
    font-weight: 700;
}  
h2 {
    color: white;
    font-weight: 300;
}

form#contactForm {
    width: 50%;
}

/* form#contactForm - odnosi się do form > label > div > span > p */

/* Formularz */
form#contactForm > label {
    display: flex;
    flex-direction: column;
    
}
/* form#contactForm > label - odnosi się form > label */
form#contactForm > div,
form#contactForm > label {
    margin-top: 20px;
}
form#contactForm > label > span {
    font-weight: bold;
    margin-bottom: 2px;
}
form#contactForm > div > label > span {
    font-weight: 700;
}

form#contactForm input[type=submit]  {
    margin-top: 10px;
    padding: 2px 5px;
    text-transform: uppercase;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 11px;
    border: opx;
}


/* Koniec Formularza */ 

footer.bottom {
    border: 1px solid #F2E6CE; 
    /* border ramka, solid linia ciągła, dotted kropkowana, dashed przerywana */
    padding: 10px 5px;
    /* odstęp wewnętrzny*/
    text-align: center;
    /*wyrównanie teskstu - lewy, prawy, centralnie, wyjustowany, left, right, center, justify*/
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    /*margines od góry,prawo,lewo,od dołu*/
    margin: 20px 10px;
    /*shorthand margin - 20 góra/dół, 10 prawo/lewo*/
    margin: 20px 5px 20px 10px;
    /*wymiary marginesu ustawiany zgodnie ze wskazówki zegara*/
    margin: 20px 10px 5px;
    /*margines 20 góra, 10 prawo/lewo, 5od dołu*/ 

}
    

/* #main {
    color: red;
}

.paragraph {
    color: greenyellow;
}

p {
    color: indigo;
}
#test #main {
    color: rgb(77, 189, 233);
} */